  <div class="control-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="control-group">
    <%= f.label :confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="control-group">
    <%= f.submit(@user.new_record? ? 'Register User' : 'Update User', class: 'btn btn-primary') %>
  </div>
