  <div class="control-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="control-group">
    <%= f.submit 'Login', class: 'btn btn-primary' %>
  </div>
