<div class="row">
  <div class='span0 well text-center' id='comment_<%=comment.id%>_votes'>
      <%= render partial: 'shared/voting_well', :locals => { :object => comment, :path => vote_post_comment_path(@post, comment, vote: true) } %>
  </div>
  <div class='span8 well'>
    "<i><%= comment.body %></i>" on <%= link_to("#{comment.post.title}", post_path(comment.post)) if show_post %><br />
    <span class='quiet'>posted by</span> <%= link_to("#{comment.user.username}", user_path(comment.user)) %> at <%= comment.created_at %> 
  </div>
</div>
