<div class="row">
    <div class='span0 well text-center' id='post_<%=post.id%>_votes'>
    <%= render 'shared/voting_well', post: post %>
    </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post.url %></h4>
    <p><%= post.description %></p>
    <span class="quiet">posted by</span> <%= post.creator.username %>
  <smalL>at <%= pretty_date post.created_at %></small>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>

