<p class='pull-right'>
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>

<p>  
  <%= render @post.categories %>
</p>

<h1><%= @post.title %></h1>

<% render 'shared/content_title', title: @post.title %>
<hr/>

<p>
  <%= @post.description %> 
</p>
<hr/>

<p>
</p>
<div class='nav_item'>
  <%= link_to 'New post', new_post_path, class: 'btn btn-success btn-small' %>
</div>
