<% if logged_in? and creator? %>
<p class='pull-right'>
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>
<% end %>
<p>  
  <%= render @post.categories %>
</p>

<h1><%= link_to @post.title, fix_url(@post.url) %></h1>

<% render 'shared/content_title', title: @post.title %>
<hr/>

    <%= render 'shared/errors', object: @comment %>
<p>
  <%= @post.description %> 
</p>
<hr/>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
<% end %>
<p>
  <% @post.comments.each do |comment| %>
    <%= render 'shared/show_comment', comment: comment, user: current_user, post: @post, show_post: false %>
  <% end %>
</p>
<div class='nav_item'>
  <%= link_to 'New post', new_post_path, class: 'btn btn-success btn-small' %>
</div>
